*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: #fffdd0;;
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      list-style: none;
      text-decoration: none;
}
header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px;
  background: transparent;
}
/*body{
  background: linear-gradient(245.59deg, #003366 0%, #006699 28.53%, #000033 75.25%);
}*/
.logo{
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navlist{
  display: flex;
}
.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover{
  border-bottom: 2px solid white;
}
#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #003366 0%, #006699 28.53%, #000033 75.25%);

  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;

}
section{
  padding: 0 19%;
}
.hero-text{
  font-size: 14px;
  font-weight: 400;
  color: #fffdd0;
  margin-bottom: 40px;
}
.hero-text h1{
  font-family: "Permanent Marker", cursive;
  font-size: 59px;
  line-height: 1;
  color: #fffdd0;
  margin: 0 0 45px;
}

.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: #fffdd0;
  margin-bottom: 10px;
}
.hero-text p{
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 49px;
}
.blueplanet img{
  width: 700px;
  height: auto;
}
.hero-text a{
  display: inline-block;
  color: rgb(51, 196, 196);
  background: #006699;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 29px;
  transition: all .55s eases;
}
.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(2px);
}.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.i{
  vertical-align: middle;
  margin-right: 5px;
}
@media( max-width:1195px;
height:auto;){
  .header{
    padding: 15px; 3px;
    transition: .2s;
  }
  .icons{
    padding: 0 3%;
    transition: .2s;
  }
  .scroll-down{
    right: 3%;
    transition: .2s;
  }
}@media( max-width:1195px)
{
  section{
    padding: 0 12%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
  }
  .hero-img{
    text-align: center;
  }
  .hero-img img{
    width: 560px;
    height: auto;
  }
  .hero{
    height: 100px;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}